/* Bootstrap-style columns */

body {
    background-color: rgba(0, 0, 255, 0);
}

a {
    position: relative;

}

a p {
    color: white;
}

.column {
    position: relative;
    float: left;
    min-height: 1px;
    width: 30%;
    padding-left: 4px;
    padding-right: 4px;

    /* Space between tiles */
    margin-top: 8px;
}

.buttons {
    text-align: center;
    font-family: montserrat;
}

@media (max-width: 1024px) {
    button {
        height: 50px !important;
        width: 130px !important;
    }
}

button {
    display: inline-block;
    background-color: black;
    color: white;
    border: 2px solid #66B1F1;
    box-shadow: 0 0 10px #2196F3;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    margin: 10px
}

button:active {
    background-color: grey;


}

button:hover {
    background-color: gray;
    transition: .4s ease;
    border: none;
    color: white;
}

.my-shuffle-container {
    margin: 0 auto;
    min-height: 150px !important;
}

.row {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

p {
    z-index: 2;
    opacity: 0;
    font-size: 1.5rem;
    text-align: left;
    position: absolute;
    transition: 1s ease;
}


.col-span {
    width: 50%;
}

.my-sizer-element {
    width: 8.33333%;
    /*    min-width: 200px !important;*/
}

@media screen (max-width:1000px) {
    .my-sizer-element {
        /*        width: 8%;*/
        min-width: 200px !important;
    }
}

/* default styles so shuffle doesn't have to set them (it will if they're missing) */
.my-shuffle {
    position: relative;
    overflow: hidden;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}


.hover:hover img {
    opacity: 0.5 !important;
}

.hover:hover p {
    opacity: 1 !important;
}


.video:hover img {
    opacity: 0.5 !important;
}

.video:hover p {
    opacity: 1 !important;
}

a:hover {
    color: red;
}




.aspect--16x9 {
    padding-bottom: 56.25%;
}

.aspect--9x80 {
    padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
    padding-bottom: calc(28.125% - 3px);
}

img {
    display: block;
    width: 100%;

    max-width: none;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* Small reset */
*,
::before,
::after {
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}

figure:nth-child(2n) {
    margin-bottom: 30px;
}

figure:nth-child(2n+1) {
    margin-top: 30px;
}
