body {
    font-family: "Century Gothic", 'Lato', sans-serif;
    background-image: url(img/space.jpg);
    background-attachment: fixed;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#quotes {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}

#quotes h3 {
    font-size: 3rem;

}

.cont {
    display: flex;

    animation: showwheel 70s;
    animation-iteration-count: infinite;


}

@keyframes showwheel {
    0% {
        transform: translateX(-130px);
    }

    50% {
        transform: translateX(130px);
    }

    100% {
        transform: translateX(-130px);
    }
}

#box1 {
    transform: perspective(200px) rotateY(45deg);
}

#box2 {
    transform: perspective(1000px) rotateY(30deg) scale(0.9);
}

#box3 {
    transform: perspective(1000px) rotateY(15deg) scale(0.83);

}

#box4 {
    transform: scale(0.805)
}

#box5 {
    transform: perspective(1000px) rotateY(-15deg) scale(0.83);
}

#box6 {
    transform: perspective(1000px) rotateY(-30deg) scale(0.9);
}

#box7 {
    transform: perspective(1000px) rotateY(-30deg);
}

.box {
    margin: 5px;
    width: 200px;
    height: 130px;

}

#indhold p {
    width: 200px;
}

.indhold h1 {
    margin-bottom: 50px;
}

.separator {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;

}

.separator #sep2 {
    top: 0;
    transform: rotateX(180deg);
}

#shuffle {
    width: 100vw;
    height: 50%;
}

#info {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#arrow {
    width: 50px;
    height: 50px;
    font-size: 80px;
    color: white;
    z-index: 4;
    animation: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#arrow a {
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: white;
    animation: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes arrow {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);

    }
}

/* -------------------------------------------------------------------------
   end Separator
 * ------------------------------------------------------------------------- */

/* begin Media Max-Width 767
============================================================================ */


#kompetencer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#kom_tekst {
    grid-row: 2;
}

#kom_bar {
    grid-row: 2;
}


.progressbar {
    display: block;
    width: 90;
    background-color: rgba(33, 150, 243, 0.51);
    border: 1px solid (0, 0, 0, 0.3);
    margin: 10px;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px #2196F3;


}

.skills {
    text-align: right;
    color: white;
    height: 40px;
    font-size: 1.5rem;
}

@keyframes ps {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes pr {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes ae {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes ai {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

.Ps {
    animation: ps 2s;
    width: 90%;
    background-color: #2196F3;
}

.Pr {
    animation: pr 2s;
    width: 80%;
    background-color: #2196F3;
}

.Ae {
    animation: ae 2s;
    width: 65%;
    background-color: #2196F3;
}

.Ai {
    animation: ai 2s;
    width: 60%;
    background-color: #2196F3;
}

#mig {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 500px;
    background-image: url(img/person.png);
    background-repeat: no-repeat;
    z-index: 1;
}

button {
    display: inline-block;
    background-color: black;
    color: white;
    border: 2px solid #66B1F1;
    box-shadow: 0 0 10px #2196F3;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button a {
    color: white;
}

button:active {
    background-color: grey;


}

button:hover {
    background-color: gray;
    transition: .4s ease;
    border: none;
    color: white;
}

.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    text-align: center;
    padding: 0 2em;
}

#portfolio {
    height: 60vw;
}

#portfolio h1 {
    margin-bottom: 50px;
}

#about {}

.et-slide p {
    color: white;
    text-align: left;
    /*    line-height: 20px;*/
}

.et-hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #e8e8e8;
    text-align: center;
    padding: 0 2em;
}

h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
    color: white;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}

.nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.nav--top {
    position: fixed;
    top: 0;
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #ffffff;
    background-color: black;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
}


.et-hero-tab:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

.container {
    display: none;
    z-index: 2;

}

.portfolio iframe {
    width: 100vw;
    height: 200vw;
    box-shadow: 0 0 10px #2196F3;

}

.menu {
    display: block !important;
}

.bar1,
.bar2,
.bar3 {
    width: 55px;
    height: 5px;
    background-color: #ffffff;
    margin: 8px 0;
    transition: 0.4s;

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -9px);
}

#splash {
    background-image: url(img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#logo {
    background-image: url(img/Logo.png);
    width: 20%;
    height: 40%;
    align-content: center;
    background-repeat: no-repeat;
}


@media (min-width: 800px) {


    h1 {
        font-size: 3rem;
        text-align: center;
    }

    .et-hero-tabs h3,
    .et-slide h3 {
        font-size: 1rem;
    }

    .et-hero-tab {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {

    #logo {
        background-image: url(img/Logo.png);
        width: 30%;
        height: 20%;
        align-content: center;
        background-repeat: no-repeat;
    }

    .box video {
        width: 200px;
        height: 130px;

    }

    #about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        text-align: center;

    }

    .et-slide p {
        font-size: 2rem;
        font-family: montserrat;
        text-align: left;
    }


    .container {
        display: block !important;
        cursor: pointer;
        position: fixed;
        top: 30px;
        right: 20px;
        z-index: 4;
    }

    .et-hero-tab {
        font-size: 2rem;
        padding: 100px;
        animation: points 2.5s;
    }

    .nav {
        display: none;
        position: fixed;
        top: 0;
        height: 700px;
        z-index: 3;
        animation: nav 1s;
        transition: all 1s ease;
    }

    .et-slide {
        height: 60vh;
    }

    #arrow a {
        width: 50px;
        height: 50px;
        font-size: 100px;
        color: white;
        animation: arrow;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }



    @keyframes points {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes nav {
        0% {
            height: 0px;
        }

        100% {
            height: 700px;
        }
    }

    .et-hero-tab-slider {
        width: 100% !important;
    }


}
